<ion-header>
  <div class="header-section">
    <ion-icon name="arrow-back" class="back" (click)="info()"></ion-icon>
    <ion-title class="ion-text-center">Resources</ion-title>
  </div>
</ion-header>

<ion-content scrollX="true">

  <table border= "1" class="data-table">
    <tr>
      <td *ngFor="let header of headerRow" text-center><b>
        {{header}}
      </b>
      </td>
    </tr>
    <tr *ngFor="let row of csvData; let i = index">
      <td *ngFor="let data of row; let j =index; trackBy: trackByFn" class="data-col">
        <h5>{{csvData[i][j]}}</h5>
      </td> 
    </tr>
  </table>

</ion-content>
