.covia-sectionTitle {
  letter-spacing: 2px;
  color: #363636;
  font-size: 28px;
  text-align: center;
}
.covia-title {
  letter-spacing: 2px;
  font-weight: bold;
  color: #363636;
  font-size: 27px;
  text-align: center;
}
.covia-page-background {
  background-color: whitesmoke;
  margin-left: -16px;
  margin-right: -15px;
  padding: 10px;
}
.covia-instruction {
  background-color: #ffecb3;
  padding: 13px;
}
.covia-subtitle {
  font-size: 17px;
  word-break: break-word;
  color: #526488;
  line-height: 1.25;
}
.covia-warning {
  background-color: #cce5e9;
  padding: 10px;

}
.header-section {
  display: flex;
  align-items: center;
  padding: 10px;
}
