.logo-container {
  display: flex;
  justify-content: center;
}
.logo-height {
  height: 200px;
}
.covia-title {
  letter-spacing: 4px;
  font-weight: 300 !important;
  color: #35495e;
  font-size: 50px;
  text-align: center;
}
.covia-subtitle {
  font-size: 30px;
  word-break: break-word;
  color: #526488;
  line-height: 1.25;
  text-align: center;
  font-weight: 300 !important;
}
a {
  text-decoration: none;
  color: var(--ion-color-contrast);
}
.covia-buttons {
  display: table;
  margin: auto;
  padding-bottom: 20px;
}
.footer-area {
  margin-left: -17px;
  margin-right: -18px;
  // background: whitesmoke;
  padding: 10px;
}
.covia-footer-title {
    font-size: 19px;
    word-break: break-word;
    color: #363636;
    line-height: 1.25;
    text-align: center;
    font-weight: 300 !important;
}
.social-footer-area {
  text-align: center;
  margin-top: 40px;
}
.social-logo-height {
  height: 42px;
  margin: 3px;
}
.WHO-color {
  color:#0093d5;
}

ion-icon {
  font-size: 50px;
}

.facebook {
  color: #3b5998;
}

.twitter {
  color: #1da1f2;
}

.whatsapp {
  color: #4ced69;
}

.mhfw {
  color: #130f3f;
}
.header-section {
  display: flex;
  align-items: center;
  padding: 10px;
}

span {
  cursor: pointer;
}